<!DOCTYPE html>
<html>
<head>
    <title>System Info</title>
    <style>
        body { font-family: sans-serif; margin: 40px; }
    </style>
</head>
<body>
    <h1>System Information</h1>
    <ul>
        <li><strong>Hostname:</strong> {{ ansible_hostname }}</li>
        <li><strong>IP Address:</strong> {{ ansible_default_ipv4.address }}</li>
        <li><strong>CPU:</strong> {{ ansible_processor_cores }} cores, {{ ansible_processor_count }} sockets</li>
        <li><strong>RAM:</strong> {{ (ansible_memtotal_mb / 1024) | round(2) }} GB</li>
        <li><strong>First HDD Size:</strong> {{ ansible_devices[ansible_mounts[0].device.split('/')[-1]].size | default('unknown') }}</li>
    </ul>
    <p>Have a nice day, sysadmin!</p>
</body>
</html>